<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>

  <a href="#maincontent" class="skiplink" tabindex="1">Skip Navigation</a>

  <header>
      <div class="container">
        <div class="subcontainer">
          <nav class="navbar">
            <a href="" class="nav-branding" tabindex="2">Golek <span>Mangan</span></a>
            <ul class="nav-menu">
              <li class="nav-item">
                <a href="/" class="nav-link" target="_blank" tabindex="4">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank" tabindex="5">Favorite</a>
              </li>
              <li class="nav-item">
                <a href="https://www.instagram.com/dmsqirama" target="_blank" class="nav-link" tabindex="6">About Us</a>
              </li>
            </ul>
            <button class="hamburger" tabindex="3">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </button>
          </nav>
        </div>
      </div>    
  </header>

  <main>
    <div class="hero"></div>
    <h1 id="maincontent">Jelajahi Restoran</h1>
    <div class="content">
        <!-- Data JSON -->
    </div>
  </main>

  <footer>
    <p>copyright &copy; dimasqiramadhani - dicoding. All right reserved.</p>
  </footer>
</body>
</html>
